.list-group
  - @medias.each do |media|
    = link_to media.link, :target => "_blank", class: "list-group-item" do
      %h4<
        = image_tag(media.images.low_resolution.url)
      %p<
        = media.caption.text unless media.caption.nil?
